<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
        
    <title>MDPortfolio</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="icon" type="MDlogo" href="static/images/newlogoinverted.png">
    <link rel="stylesheet" href="static/style_gallery.css">
    <link rel="stylesheet" href="static/fonts.css">
    <link rel="stylesheet" href="static/navbar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>



<header>
    <div class="nav-parent screen-height">
        <div class="navbar">
            <a class="nav-button nav-button-left" href="{{ url_for('views.gallery') }}" rel="home_page"><h1>WORK</h1></a>
            <a class="nav-button" href="{{ url_for('views.about') }}" rel="history"><h1>ABOUT ME</h1></a>
            <a class="nav-button" href="{{ url_for('views.contact') }}" rel="history"><h1>REACH OUT</h1></a>
            <a class="nav-button nav-button-right" href="{{ url_for('views.index') }}" rel="history">
                <img src="static/SVG/Md designer.svg" alt="Description of the image">
            </a>
        </div>
    </div>
</header>


<body>
    <div>
        <div class="gallery">
            <div class="gallery-sub">
                <div class="gallery-sub1">
                    <a href="{{ url_for('views.rvgd') }}" class="work-box-1"></a>
                    <a href="{{ url_for('views.krump') }}" class="work-box-2"></a>
                </div>
                <a href="{{ url_for('views.apex') }}" class="work-box-3"></a>
            </div>
            <div class="gallery-sub2">
                <a href="{{ url_for('views.aularedo') }}" class="work-box-4"></a>
            </div>
            <!-- <div class="gallery-sub3">
                <div class="gallery-sub4">
                    <a class="work-box1-1"></a>
                    <a class="work-box1-2"></a>
                </div>
                <div class="gallery-sub4">
                    <a class="work-box2-1"></a>
                    <a class="work-box2-2"></a>
                </div>
                <div class="gallery-sub4">
                    <a class="work-box3-1"></a>
                    <a class="work-box3-2"></a>
                </div>
            </div> -->
        </div>
    </div>
    <script src="static/script.js"></script>
</body>


<footer>

    <div class="grid-containers">
        <div class="column">

            <div class="sub-column">    
                <a href="https://www.instagram.com/md_ldn/" target="_blank">
                    <img src="static/SVG/IG.svg" alt="Instagram" width="50" height="50">
                </a>
            </div>

            <div class="sub-column">
                <a href="https://the-dots.com/users/darius-danciu-1501879" target="_blank">
                    <img src="static/SVG/the_dots.svg" alt="The Dots" width="50" height="50">
                </a>
            </div>

            <div class="sub-column">
                <a href="https://www.reddit.com/user/EEM_DEE" target="_blank">
                    <img src="static/SVG/reddit.svg" alt="Reddit" width="50" height="50">
                </a>
            </div>

            <div class="sub-column">
                <a href="https://www.behance.net/MDdesignerBE" target="_blank">
                    <img src="static/SVG/Behance.svg" alt="Behance" width="50" height="50">
                </a>
            </div>

            <div class="sub-column">
                <a href="https://www.linkedin.com/in/darius-manuel-danciu/" target="_blank">
                    <img src="static/SVG/LinkedIn.svg" alt="LinkedIn" width="50" height="50">
                </a>
            </div>        
        </div>
        
        <div class="column">
            <div>
                <small>MDdesigner©</small>
            </div>
        </div>
    </div>
</footer>
</html>