<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    
    <title>MDPortfolio</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="icon" type="MDlogo" href="static/Images/newlogoinverted.png">
    <link rel="stylesheet" href="static/Style.css">
    <link rel="stylesheet" href="static/Fonts.css">
    <link rel="stylesheet" href="static/navBar.css">
</head>


<header>
    <!--<div class="nav-parent screen-height">
        <div class="navbar">
            <a class="nav-button nav-button-left" href="#" rel="home_page"><h1>Home</h1></a>
            <a class="nav-button" href="About-me" rel="history"><h1>About</h1></a>
            <a class="nav-button" href="Gallery" rel="history"><h1>Gallery</h1></a>
            <a class="nav-button nav-button-right" href="Contact" rel="history"><h1>Contact</h1></a>
        </div>
    </div>-->

    <div class="logo-parent" >
        <img class="logo" src="static/SVG/newMDlogo2023redesign (1).svg" alt="Mdlogo">
    </div>

</header>


<body>
    <div class="landing">
        <script type="module" src="https://unpkg.com/@splinetool/viewer@1.0.17/build/spline-viewer.js"></script>
        <spline-viewer url="https://prod.spline.design/rqQ9m6DND3av7rl4/scene.splinecode"></spline-viewer>
    </div>
    <br>
    <img class="arrow" src="static/SVG/arrow.svg" alt="Mdlogo"alt="arrow">
    <div class="text-parent">
        <div class="text">A showcase of my work<span class="text-colour" >.</span></div>
    </div>
    <br>
    <div class="workbox">
        <a href="https://www.behance.net/gallery/186440141/APEX-ATHLETES%28Mock-brand-redesign%29" class="flexinside1" target="_blank"></a>
        <a href="https://www.behance.net/gallery/181467189/Rave-Graphic-Design-Course-pin-badges" class="flexinside2" target="_blank"></a>
        <a href="https://www.behance.net/gallery/171037967/WE-ARE-KRUMPIN" class="flexinside3" target="_blank"></a>
      </div>
      

    
    <!--<div class="button-gal">
        <a class="button-gal" href="gallery" rel="history"><button class="gallery-button"><h4>View all</h4></button></a>
    </div>-->
    
    <div class="custom-cursor"></div>

    <script src="static/script.js"></script>
<br><br><br><br><br><br><br><br><br>
</body>


<footer>

    <div class="grid-containers">
        <div class="column">

            <div class="sub-column">    
                <a href="https://www.instagram.com/md_ldn/" target="_blank">
                    <img src="static/SVG/IG.svg" alt="Instagram" width="50" height="50">
                </a>
            </div>

            <div class="sub-column">
                <a href="https://the-dots.com/users/darius-danciu-1501879" target="_blank">
                    <img src="static/SVG/the_dots.svg" alt="The Dots" width="50" height="50">
                </a>
            </div>

            <div class="sub-column">
                <a href="https://www.reddit.com/user/EEM_DEE" target="_blank">
                    <img src="static/SVG/reddit.svg" alt="Reddit" width="50" height="50">
                </a>
            </div>

            <div class="sub-column">
                <a href="https://www.behance.net/MDdesignerBE" target="_blank">
                    <img src="static/SVG/Behance.svg" alt="Behance" width="50" height="50">
                </a>
            </div>

            <div class="sub-column">
                <a href="https://www.linkedin.com/in/darius-manuel-danciu/" target="_blank">
                    <img src="static/SVG/LinkedIn.svg" alt="LinkedIn" width="50" height="50">
                </a>
            </div>        
        </div>
        
        <div class="column">
            <div>
                <small>MDdesigner©</small>
            </div>
        </div>
    </div>
</footer>
</html>