{% extends "base.html" %}
<!-- Banner Start -->
{% block banner %}
<div class="banner">
  <div class="banner-overlay text-center">
    <p>24 Carrot Produce</p>
    <a href="{{ url_for('views.veg_box') }}" class="btn btn-light">Discover our weekly veg box</a>
  </div>
</div>
{% endblock %}
<!-- Banner End -->
{% block content %}
<div class="text-center content">
  <strong>Welcome to Souk, Your Local Source for Quality Fruit and Veg</strong>
  <p>At Souk, we take pride in providing the absolute best in fresh fruit and vegetables,We're not<br>
    just any supplier; we're the preferred choice for a number of esteemed local establishments in<br>
    Worthing.</p>
  <strong>Fresh, Seasonal Boxes Delivered Right to Your Door</strong>
  <p> Every Thursday and Friday, we deliver boxes brimming with the best produce available, right<br>
    to your door. Featuring a range of British and exotic produce, our boxes are a testament to the<br>
    quality we're committed to.
    <br>
    <br>
    Remember to place your orders no later than 10pm on Wednesday, to enjoy fresh produce for the weekend.</p>
  <strong>Customise Your Box for Your Lifestyle and Tastes</strong>
  <p>Choose from our variety of boxes, each specially
    curated to cater to different tastes and lifestyles, highlighting the best of what's in season.<br><br>
    
    Prefer to build your own box? We've got you covered. Simply
    email us your preferences and we'll make it happen.<br><br>
    
    If there's a particular fruit or vegetable you'd rather not have, let us know in your order<br>
    comments and we'll gladly substitute it for you.
    <br>
    <br>
    Want Something Extra? Just Ask!</p>
    <p>If there's something you're craving that's not<br>
      listed, don't hesitate to reach out to us at info@soukitandsee.co.uk. We're more than happy to include it in your box.
    </p>
    <p> Currently Delivering to the Following Postcodes:</p>
    <strong>BN11, BN12, BN13, BN14,BN15, BN16, BN17, BN18,BN43, BN44</strong>
    <br><br><br>
    <strong>We look forward to serving you the best fruit and veg in town.</strong>
</div>
{% endblock %}