<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    
    <title>MDPORTFOLIO</title>
    <link rel="stylesheet" href="static/Fonts.css">
    <link rel="stylesheet" href="static/Style.css">
    <link rel="stylesheet" href="static/navBar.css">
</head>


<header>
        <div class="navbar">
            <a class="nav-button nav-button-left" href="#" rel="home_page"><h1>Home</h1></a>
            <a class="nav-button" href="About-me" rel="history"><h1>About</h1></a>
            <a class="nav-button" href="Gallery" rel="history"><h1>Gallery</h1></a>
            <a class="nav-button nav-button-right" href="Contact" rel="history"><h1>Contact</h1></a>
        </div>
</header>


<body>
    
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.3.0/model-viewer.min.js"></script>

    <div class="spacer-top"></div>

    <div class="super">

        <div class="superbox">

            <div class="superboxinside"><h3>
                MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO<br>
                MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO<br>
                MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO<br>
                MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO<br>
                MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO<br>
                MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO<br>
                MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO<br>
                MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO<br>
                MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO<br>
                MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO<br>
                MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO<br>
                MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO<br>
                MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO<br>
                MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO<br>
                MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO MDPORTFOLIO<br>
            </h3></div>

            <div class="model">
                <div class="model-inside">
                    <model-viewer 
                        class="model-inside-two" 
                        alt="Logo spinning" 
                        src="https://files.cargocollective.com/c2023195/MDLOGO.gltf" 
                        id="MDLOGO" 
                        disable-pan=""
                        oncontextmenu="return false;" 
                        camera-controls="" 
                        camera-orbit="-2505deg 100deg" 
                        auto-rotate-delay="" 
                        disable-zoom="" 
                        disable-tap="" 
                        shadow-intensity="0" 
                        exposure="0.4" 
                        auto-rotate="" 
                        rotation-per-second="30deg" 
                        interaction-prompt="none" 
                        ar-status="not-presenting">
                    </model-viewer>
                </div>
            </div>
        </div>
    </div><br><br>

<div class="spacer"></div>

<br><br>
<div class="workbox">
    <div class="flexinside"></div>
    <div class="flexinside"></div>
    <div class="flexinside"></div>
</div>

<br><br>
<div grid-row="" grid-pad="0" grid-gutter="0">
	<div grid-col="x12" grid-pad="0" class="">
        <div class="button-gal">
            <a href="Gallery" rel="history"><button class="gallery-button"><h5>VIEW MORE</h5></button></a>
        </div>
    </div>
</div>

<br><br>

<div class="custom-cursor"></div>


<script src="static/script.js"></script>

</body>


<footer>

    <div class="grid-container">
        <div class="column">
            <small>
    
                Connect:
                <a href="https://www.instagram.com/md_ldn/" target="_blank">Instagram</a>
                <a href="https://www.instagram.com/md_ldn/" target="_blank">Reddit </a>&nbsp; &nbsp;
                <a href="https://www.instagram.com/md_ldn/" target="_blank">Behance&nbsp; &nbsp; </a>
                <a href="https://www.instagram.com/md_ldn/" target="_blank">LinkedIn</a>
    
            </small>
        </div>
        
        <div class="column">
            <div style="text-align: right">
                <small>
                    MDdesigner©
                </small>
            </div>
        </div>
    </div>

</footer>
</html>