{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    <img src="static/images/vegbox.jpg" alt="" class="img-fluid border border-dark-subtle">
  </div>
  <div class="col-md-4 ps-5">
    <h1 class="">Seasonal Fruit and Veg Box</h1>
    <strong>£25.00 GBP</strong>
    <p class = "fw-lighter f">Tax included.</p>
    <button class="button-pills">Small</button>
    <button class="button-pills">Medium</button>
    <button class="button-pills">Large</button>
</div>
{% endblock %}