<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
            
    <title>MDPortfolio</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="icon" type="MDlogo" href="static/Images/newlogoinverted.png">
    <link rel="stylesheet" href="static/style_rvgd.css">
    <link rel="stylesheet" href="static/fonts.css">
    <link rel="stylesheet" href="static/navbar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<header>
    <div class="nav-parent screen-height">
        <div class="navbar">
            <a class="nav-button nav-button-left" href="{{ url_for('views.gallery') }}" rel="home_page"><h1>WORK</h1></a>
            <a class="nav-button" href="{{ url_for('views.about') }}" rel="history"><h1>ABOUT ME</h1></a>
            <a class="nav-button" href="{{ url_for('views.contact') }}" rel="history"><h1>REACH OUT</h1></a>
            <a class="nav-button nav-button-right" href="{{ url_for('views.index') }}" rel="history">
                <img src="static/SVG/Md designer.svg" alt="Description of the image">
            </a>
        </div>
    </div>
</header>

<body>
    <div class="work-parent">
        <div class="first-page">
            <div class="page-parent">
                <div class="page _1"></div>
                <div class="page _2"></div>
                <div class="page _3"></div>
                <div class="page _4"></div>
                <div class="page _5"></div>
                <div class="page _6"></div>
                <div class="page _7"></div>
                <div class="page _8"></div>
                <div class="page _9"></div>
                <div class="page _10"></div>
            </div>
        </div>

        <div class="work-text">
            <div class="title">
                <div class="text-1">rvgd pin Badge</div>
                <div class="text-2">Ravensbourne Badge design</div>
            </div>
            <div class="body-copy">Overview<br><br>This pin badge design, part of Ravensbourne BA Hons collection, depicts the challenges faced by graphic design students at Ravensbourne University. Featuring an illustration of a crashing laptop, it humorously represents the reality of studying graphic design—a blend of creativity and technical challenges.</div>
        </div>

    </div>
    <script src="static/script.js"></script>
</body>

<footer>

    <div class="grid-containers">
        <div class="column">

            <div class="sub-column">    
                <a href="https://www.instagram.com/md_ldn/" target="_blank">
                    <img src="static/SVG/IG.svg" alt="Instagram" width="50" height="50">
                </a>
            </div>

            <div class="sub-column">
                <a href="https://the-dots.com/users/darius-danciu-1501879" target="_blank">
                    <img src="static/SVG/the_dots.svg" alt="The Dots" width="50" height="50">
                </a>
            </div>

            <div class="sub-column">
                <a href="https://www.reddit.com/user/EEM_DEE" target="_blank">
                    <img src="static/SVG/reddit.svg" alt="Reddit" width="50" height="50">
                </a>
            </div>

            <div class="sub-column">
                <a href="https://www.behance.net/MDdesignerBE" target="_blank">
                    <img src="static/SVG/Behance.svg" alt="Behance" width="50" height="50">
                </a>
            </div>

            <div class="sub-column">
                <a href="https://www.linkedin.com/in/darius-manuel-danciu/" target="_blank">
                    <img src="static/SVG/LinkedIn.svg" alt="LinkedIn" width="50" height="50">
                </a>
            </div>        
        </div>
        
        <div class="column">
            <div>
                <small>MDdesigner©</small>
            </div>
        </div>
    </div>
</footer>