<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
            
    <title>MDPortfolio</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="icon" type="MDlogo" href="static/images/newlogoinverted.png">
    <link rel="stylesheet" href="static/style_krump.css">
    <link rel="stylesheet" href="static/fonts.css">
    <link rel="stylesheet" href="static/navbar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<header>
    <div class="nav-parent screen-height">
        <div class="navbar">
            <a class="nav-button nav-button-left" href="{{ url_for('views.gallery') }}" rel="home_page"><h1>WORK</h1></a>
            <a class="nav-button" href="{{ url_for('views.about') }}" rel="history"><h1>ABOUT ME</h1></a>
            <a class="nav-button" href="{{ url_for('views.contact') }}" rel="history"><h1>REACH OUT</h1></a>
            <a class="nav-button nav-button-right" href="{{ url_for('views.index') }}" rel="history">
                <img src="static/SVG/Md designer.svg" alt="Description of the image">
            </a>
        </div>
    </div>
</header>

<body>
    <div class="work-parent">
        <div class="first-page"></div>
        <div class="second-page">
            <div class="work-text">
                <div class="title">
                    <div class="text-1">WE ARE KRUMPIN'</div>
                    <div class="text-2">Motion Graphic</div>
                </div>
                <div class="body-copy">Overview<br><br>WE ARE KRUMPIN'! is a visually compelling stop-motion project that authentically captures the essence of Krump culture. Through meticulous stop-motion techniques, the project vividly portrays the dynamic movements and intense expressions synonymous with Krump dance. Its immersive visuals serve to promote an upcoming event at Lavender Hill, teasing viewers with a taste of the raw energy and emotion they can expect to experience firsthand.</div>
            </div>
    
            <div class="img-parent">
                <div class="work-parent-img1" controls autoplay loop>
                    <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/914080863?badge=0&amp;app_id=58479" frameborder="0" allow="autoplay;" style="position:absolute;top:0;left:0;width:100%;height:100%"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                </div>
            </div> 
        </div>
    </div>
    <script src="static/script.js"></script>
</body>

<footer>

    <div class="grid-containers">
        <div class="column">

            <div class="sub-column">    
                <a href="https://www.instagram.com/md_ldn/" target="_blank">
                    <img src="static/SVG/IG.svg" alt="Instagram" width="50" height="50">
                </a>
            </div>

            <div class="sub-column">
                <a href="https://the-dots.com/users/darius-danciu-1501879" target="_blank">
                    <img src="static/SVG/the_dots.svg" alt="The Dots" width="50" height="50">
                </a>
            </div>

            <div class="sub-column">
                <a href="https://www.reddit.com/user/EEM_DEE" target="_blank">
                    <img src="static/SVG/reddit.svg" alt="Reddit" width="50" height="50">
                </a>
            </div>

            <div class="sub-column">
                <a href="https://www.behance.net/MDdesignerBE" target="_blank">
                    <img src="static/SVG/Behance.svg" alt="Behance" width="50" height="50">
                </a>
            </div>

            <div class="sub-column">
                <a href="https://www.linkedin.com/in/darius-manuel-danciu/" target="_blank">
                    <img src="static/SVG/LinkedIn.svg" alt="LinkedIn" width="50" height="50">
                </a>
            </div>        
        </div>
        
        <div class="column">
            <div>
                <small>MDdesigner©</small>
            </div>
        </div>
    </div>
</footer>