<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
            
    <title>MDPortfolio</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="icon" type="MDlogo" href="static/Images/newlogoinverted.png">
    <link rel="stylesheet" href="static/style_apex.css">
    <link rel="stylesheet" href="static/fonts.css">
    <link rel="stylesheet" href="static/navbar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<header>
    <div class="nav-parent screen-height">
        <div class="navbar">
            <a class="nav-button nav-button-left" href="{{ url_for('views.gallery') }}" rel="home_page"><h1>WORK</h1></a>
            <a class="nav-button" href="{{ url_for('views.about') }}" rel="history"><h1>ABOUT ME</h1></a>
            <a class="nav-button" href="{{ url_for('views.contact') }}" rel="history"><h1>REACH OUT</h1></a>
            <a class="nav-button nav-button-right" href="{{ url_for('views.index') }}" rel="history">
                <img src="static/SVG/Md designer.svg" alt="Description of the image">
            </a>
        </div>
    </div>
</header>

<body>
    <div class="work-parent">
        <img src="static/Images/apex/deck.png" class="first-page" draggable="false">

        <div class="work-text">
            <div class="title">
                <div class="text-1">APEX ATHLETES</div>
                <div class="text-2">Mock Brand identity</div>
            </div>
            <div class="body-copy">Overview<br><br>APEX ATHLETES is a contemporary sports and fitness brand with a dedicated focus on empowering athletes to achieve their maximum potential. The brand distinguishes itself by offering tailored support from sports scientists and nutritionists.<br>By combining expert guidance with cutting-edge training techniques, APEX ATHLETES aims to elevate athletes to their peak performance levels.<br><br>This is the full deck for the brand guidlines.</div>
        </div>
        <div class="work-box-apex">
            <div class="child-box-apex">
                <img src="static/Images/apex/deck.png" class="work-img" draggable="false">
                <img src="static/Images/apex/deck2.png" class="work-img" draggable="false">
                <img src="static/Images/apex/deck3.png" class="work-img" draggable="false">
                <img src="static/Images/apex/deck4.png" class="work-img" draggable="false">
                <img src="static/Images/apex/deck5.png" class="work-img" draggable="false">
                <img src="static/Images/apex/deck6.png" class="work-img" draggable="false">
                <img src="static/Images/apex/deck7.png" class="work-img" draggable="false">
                <img src="static/Images/apex/deck8.png" class="work-img" draggable="false">
                <img src="static/Images/apex/deck9.png" class="work-img" draggable="false">
                <img src="static/Images/apex/deck10.png" class="work-img" draggable="false">
                <img src="static/Images/apex/deck11.png" class="work-img" draggable="false">
                <img src="static/Images/apex/deck12.png" class="work-img" draggable="false">
                <img src="static/Images/apex/deck13.png" class="work-img" draggable="false">
                <img src="static/Images/apex/deck14.png" class="work-img" draggable="false">
                <img src="static/Images/apex/deck15.png" class="work-img" draggable="false">
                <img src="static/Images/apex/deck16.png" class="work-img" draggable="false">
                <img src="static/Images/apex/deck17.png" class="work-img" draggable="false">
                <img src="static/Images/apex/deck18.png" class="work-img" draggable="false">
                <img src="static/Images/apex/deck19.png" class="work-img" draggable="false">
                <img src="static/Images/apex/deck20.png" class="work-img" draggable="false">
                <img src="static/Images/apex/deck21.png" class="work-img" draggable="false">
                <img src="static/Images/apex/deck22.png" class="work-img" draggable="false">
                <img src="static/Images/apex/deck23.png" class="work-img" draggable="false">
                <img src="static/Images/apex/deck24.png" class="work-img" draggable="false">
            </div>
        </div>

    </div>
    <script src="static/script.js"></script>
</body>

<footer>

    <div class="grid-containers">
        <div class="column">

            <div class="sub-column">    
                <a href="https://www.instagram.com/md_ldn/" target="_blank">
                    <img src="static/SVG/IG.svg" alt="Instagram" width="50" height="50">
                </a>
            </div>

            <div class="sub-column">
                <a href="https://the-dots.com/users/darius-danciu-1501879" target="_blank">
                    <img src="static/SVG/the_dots.svg" alt="The Dots" width="50" height="50">
                </a>
            </div>

            <div class="sub-column">
                <a href="https://www.reddit.com/user/EEM_DEE" target="_blank">
                    <img src="static/SVG/reddit.svg" alt="Reddit" width="50" height="50">
                </a>
            </div>

            <div class="sub-column">
                <a href="https://www.behance.net/MDdesignerBE" target="_blank">
                    <img src="static/SVG/Behance.svg" alt="Behance" width="50" height="50">
                </a>
            </div>

            <div class="sub-column">
                <a href="https://www.linkedin.com/in/darius-manuel-danciu/" target="_blank">
                    <img src="static/SVG/LinkedIn.svg" alt="LinkedIn" width="50" height="50">
                </a>
            </div>        
        </div>
        
        <div class="column">
            <div>
                <small>MDdesigner©</small>
            </div>
        </div>
    </div>
</footer>