:root {
	--unageo: 'Unageo', sans-serif;


    --gap: 23px;
	--corner-round: 3vw;


    --md-purple: #6037AF;
    --md-off-white: #D9D9D9;
    --md-off-black: #171717;
    --md-white: #FFFFFF;
    --md-black: #0D0D0D;
    --md-light-grey: #525252;
    --md-dark-grey: #313131;
}


.navbar,
.navbar > *{
    /* border: 1px solid rgb(255, 0, 0); */
}


.nav-parent {
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    width: 1px;
    height: 100lvh;}

.navbar {
    position: sticky;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;

    z-index: 3;
    gap: 6px;
    border-radius: 30px;
    margin-bottom: 2vw;
    
    outline: solid 5px var(--md-purple);
    background-color: var(--md-off-black);  

    opacity: 0;
    transition: background-color 0.3s ease;
    animation: fadeInUp1 0.9s ease forwards, moveUp1 0.9s ease forwards;
}
    
.navbar > *{
	font-style: normal;
	white-space: nowrap;
	color: var(--md-off-white);
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:  clamp(10px, 1vw, 11px);
	font-family: var(--unageo);
    white-space: nowrap;

    height: 55%;
    padding: 10px 20px;
    color: var(--md-white);
    border-radius: 23px;
    transition: background-color 0.3s ease;
}

.nav-button:first-child {
    margin-left: 6px;
}

.nav-button:last-child {
    width: 30px;
    height: 40px;

    margin: 6px 0;
    margin-right: 6px;
    background-color: var(--md-purple); 
}

.nav-button img {
    width: 30px;
    height: 40px;
}

.nav-button:hover {
    background-color: var(--md-purple);
}


@media  (max-width: 800px) {
    .navbar {
        margin-bottom: 3vw;
        display: grid;
        grid-template-columns: repeat(4, auto);
        padding: 0;
        gap: 5px;
        border-radius: 20px;
        transition: background-color 0.3s ease;
        opacity: 0;
        transform: translateX(40px);
        animation: fadeInUp1 0.9s ease forwards, moveUp1 0.9s ease forwards;
    }
    
    .nav-button {

        white-space: nowrap;
        font-size: 9px;
        padding: 5px 13px;
        margin: 5px 0;
        background-color: var(--md-off-black);
        height: 35px;
        border-radius: 15px;
        transition: background-color 0.3s ease;
    }
    
    .nav-button:first-child {
        margin-left: 5px;
    }
    
    .nav-button:last-child {
        margin-right: 5px;
    }
    
    .nav-button:hover {
        background-color: var(--md-purple);
    }
    
    .nav-button img {
        /* width: 30px;
        height: 35px; */
    }
}


/* footer */


.grid-containers {
    margin: 0 70px;
    padding: 0 100px 30px 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px;
}

@media (max-width: 800px) {
    .grid-containers {
        margin: 0 90px;
        padding: 60px 0;    
        grid-template-columns: repeat(1, 1fr);
    }
}


.column {
    display: inline-block;
}

.column:first-child {
    display: grid;
    grid-template-columns: repeat(5, 60px);
}

.column:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (max-width: 800px) {
    
    .column:first-child {
        display: grid;
        grid-template-columns: repeat(5, auto);
    }
    .column:last-child{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.sub-column{
    opacity: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-column a:hover {
    filter: blur(0.9px);
    display: inline-block;
    border-radius: 5px;
}




@keyframes fadeInUp1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes moveUp1 {
    from {
        transform: translateX(30px);
    }
    to {
        transform: translateY(0px);
    }
}