h1 {
	font-family: "pretendard", sans-serif;
	font-style: 500;
	white-space: nowrap;
	color: #D9D9D9;
	font-weight: 900;
	line-height: 1.4;
}

h1 a {
	color: #6037af;
}

h1:hover{
	background-color: none;
}


h2 {
	font-family: 'pretendard' sans-serif;
}

h2 a {

}


h3 {
	font-family: "gotham", sans-serif;
	font-weight: 700;
	/* color: transparent; */
    /* -webkit-text-stroke: 0.1px #00000041 */
}

h3 a {
	color: rgba(255, 255, 255, 0.85);
}

h4 {
	font-family: "pretendard", sans-serif;
	font-weight: 400;
	color: white;

}

h4 a {
	color: rgba(255, 255, 255, 0.85);
}

small {
	font-family: "pretendard", sans-serif;
	font-size: 1.3rem;
	line-height: 1.2;
	font-style: normal;
	font-weight: 700;
	color: rgb(56, 56, 56);
}

small a {
	color: rgb(41, 41, 41);
	border-bottom-width: 0em;
}

p{
	font-family: "pretendard", sans-serif;
	font-size: 1.3rem;
	line-height: 1.2;
	font-style: normal;
	font-weight: 300;
	color: rgb(255, 255, 255);
}





/**/



*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}

body, html {
	margin: 0;
	padding: 0;
    cursor: none;
	scroll-behavior: smooth;
	background-color: #000;
}

a{
	cursor: none;
}

/**/



.custom-cursor {
    cursor: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: fixed;
    background-color: #6137af;
	backdrop-filter: blur(3px);
    pointer-events: none;
    z-index: 9000;
	-webkit-transition:none;
	-moz-transition:none;
	-o-transition:none;
	transition:none;
}

.logo-parent{
	display: flex;
    justify-content: center;
    align-items: center;
	padding: 35px 0;
}


.logo{
	width: 200px;
	height: 40px;
}

@media (max-width: 800px) {
	.logo-parent {
		padding: 25px 0;
	}
	.logo{
		height: 5vw;
	}
}

.landing {
	height: 75vh;
	border-radius: 50px;
	background: radial-gradient(circle, rgba(151, 109, 228, 0.178) 0%, rgba(97, 55, 175, 0.274) 51%, rgba(23, 21, 59, 0.308) 100%);
	background-color: #3d256a;
	margin: 0 2vw;
}

@media (max-width: 800px) {
	.landing {
		margin: 0 4vw;
	}
}

.text-parent{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 170px 4vw 180px 4vw;
}

.text{
	color: rgb(255, 255, 255);
	text-decoration:underline 5px #6037AF;
	text-underline-offset: 12px;
	font-family: 'gotham', sans-serif;
	font-weight: 1000;
	font-size: 100px;
}

@media (max-width: 800px) {
	.text-parent{
		margin: 120px 4vw 70px 4vw;
	}
}

@media( max-width: 620px ) {
	.text{
		font-size: 17vw;
	}
}

.text-colour{
	color: #6037AF;
}
.arrow{
	position: absolute;
	visibility: hidden;

	width: 100px;
	height: 100px;
	left:  50%;
	transform: translate(-50%);
}

@media (max-width: 800px) {
    .arrow {
		visibility: visible;
		padding-top: 20px;
		width: 60px;
		height: 60px;
    }
}

.workbox {
	display: flex;
    gap: 2vw;
	margin: 0 2vw;
	border-radius: 50px;
    flex-wrap: wrap;
}

.workbox > * {
	display: flex;
    flex-grow: 1;
    height: 60vh;
	border-radius: 50px;
    background-color: #ffffff;
    overflow: hidden;
}

.workbox > *:hover{

	scale: 0.995;
}

@media (min-width: 2601px) {
    .workbox > * {
        flex-basis: calc(0% - 4px);
    }
}

@media only screen and (min-width: 801px) and (max-width: 2600px) {	
    .workbox > * {
        flex-basis: calc(33% - 4px);
    }
}

@media (max-width: 800px) {
    .workbox > * {
        flex-basis: calc(100% - 4px);
    }
}

@media (max-width: 800px) {
    .workbox {
		gap: 4vw;
		margin: 0 4vw;
    }
}

.flexinside1{
	background-image: url('Images/6353554_73.png');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #0070B9;
}

.flexinside2{
	background-image: url('Images/Behance.png');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #FFF200;
}

.flexinside3{
	background-image: url('Images/wearekrumpin.png');
	background-size: 220%;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #4e00f8;
}

@media (max-width: 1250px) {
	.flexinside3{
		background-size: cover;
	}

}

.button-gal{
	cursor: none;
	display: flex;
	align-items: center;
    justify-content: center;
	margin-top: 50px;
	width: 100%;
	height: 100%;
}

.button-gal button,
.gallery-button h4{
	cursor: none;
}

.gallery-button {
	font-size: 20px;
	letter-spacing: 1px;
    border: none;
    outline: none;
    border-radius: 22px;
 	background-color: #6037AF;
 	color: #d9d9d9;
	padding: 20px 100px;
 	text-align: center;
	
	transition: padding 0.3s ease, scale 0.3s ease;
	white-space: nowrap;
}

.gallery-button:hover{
	transition: padding 0.3s ease, scale 0.3s ease;
    scale: 0.94;
	background-color: rgba(96, 55, 175, 0.74);

}

.gallery-button:active{ 
	background-color: rgba(27, 27, 27, 0.74);
}

@media (max-width: 800px) {
	.gallery-button {
		font-size: 20px;
		width: 100%;
		margin: 0 5vw;
		padding: 20px 0;
		border-radius: 25px;

		transition: none;
	}
	.gallery-button:hover{
		transition: none;
		scale: 1;
	}
}

.screen-height {
	height: 100vh;
}