h1 {
	font-family: var(--unageo);
	font-weight: 900;
	line-height: 1.4;
}

h1 a {
	color: var(--md-purple);
}

h1:hover{
	background-color: none;
}

small {
	font-family: var(--unageo);
	font-size: 1.3rem;
	line-height: 1.2;
	font-style: normal;
	font-weight: 700;
	color: rgb(56, 56, 56);
}

small a {
	color: rgb(41, 41, 41);
	border-bottom-width: 0em;
}

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	/* -webkit-transition:all 0.1s cubic-bezier(0.25, 0.1, 0.25, 1);
	-moz-transition:all 0.1s cubic-bezier(0.25, 0.1, 0.25, 1);
	-o-transition:all 0.1s cubic-bezier(0.25, 0.1, 0.25, 1);
	transition:all 0.1s cubic-bezier(0.25, 0.1, 0.25, 1); */

	-webkit-transition:all 0.15s ease-out;
	-moz-transition:all 0.15s ease-out;
	-o-transition:all 0.15s ease-out;
	transition:all 0.15s ease-out;
}

body, header, html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	background-color: var(--md-black);
}

body,
body > *,
.contact-text > *,
.contact-parent > *{
	/* border: 1px solid red; */
}

body{
	height: 100vh;
} 

.contact-parent{
	display: flex;
	align-items: center;
    justify-content: start;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 4vw 0;
	margin: 0 4vw;
	gap: var(--gap);
}

.contact-parent > *{
	flex-grow: 1;
	height: 60vh;
}

.contact-pic{
	width: 500px;
    background-image: url('Images/MD_photo.jpg');
    background-size: cover;
	background-position: center center;
  	background-repeat: no-repeat;
    border-radius: var(--corner-round);
	padding: 50px;
}

.contact-text{
	width: 500px;
	display: flex;
	align-items: start;
    justify-content: start;
	flex-direction: column;

	padding: 50px;

	gap: var(--gap);

	border-radius: var(--corner-round);
	background-color: var(--md-off-black);
	
}

.contact-1,
.contact-2{

	border-radius: 28px;
	padding: 20px 40px;
	background-color: var(--md-dark-grey);

	white-space: normal;
	color: var(--md-off-white);
	font-family: Unageo;
	font-size: clamp(15px, 2vw, 24px);
	font-style: normal;
	font-weight: 500;
	line-height: 128%;
	letter-spacing: 1.464px;
	overflow-wrap: break-word; /* Standard name */
	word-wrap: break-word; /* Legacy name for compatibility */
}

@media (max-width:800px) {

	.contact-text{
		padding: 20px;
	}

}